# Reports / generated documents
reports/
outputs/

# Vector DB / local databases
chroma_db/

# Environment files
.env

# Virtual environments
myenv/
venv/
.venv/

# IDE settings
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db